html {
    scroll-behavior: smooth;
}

body{
    background: #38F094;
    overflow-y: scroll; 
    overflow-x:hidden;
	font-family: Arial, sans-serif;
}

.notificationPage{
    background-color: #38F094;
	font-family: Arial, sans-serif;
}

#heading{
    color: black;
    font-size: 36px;
    text-align: center;
    padding: 10px;
    position: relative; 
    cursor: none;
  }

  #heading-2{
    color: black;
    font-size: 36px;
    position: relative;
    cursor: auto;
  }

  .clear-all{
      padding-bottom: 10px;
      padding-right: 20px;
      padding-top: 5px;
      float: right;
  }



.side-group{
    display: block; 
    position: absolute;
    left: 80%;
    top: 0px;
  }


.deleteButton{
    float: right;
    padding-bottom: 20px;
    font-size: 18px;
}

.time{
    font-size: 13px;
    color: #929292;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-top: 10px;
}


.wrapper {
    width: 520px;
    margin: 50px auto;
  }
  
  .notification-tray{
      background-color: #2bd881;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 40px;
  }
  
    
  .notifications__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 105px;
    margin-bottom: 20px;
    padding: 0 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 15px 20px 0px rgb( 0, 0, 0, .2 );
    transition: all .3s ease-in;
    cursor: pointer;
  }
  
  .notifications__item__avatar {
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 20px;
  
    border-radius: 50%;
  }
  
  .notifications__item__avatar img {
    width: 100%;
    height: 100%;
  }
  
.notifications__item__content { 
      width: calc( 100% - 105px ); 
      position: relative;
}

    .notifications__item__title,
.notifications__item__message {
       display: block; 
}
  
.notifications__item__title {
    letter-spacing: 2px;
    font-family: 'atvice', sans-serif;
    font-size: 17px;
}
  
.notifications__item__message {
    font-family: Roboto, sans-serif;
    font-size: 14px;
   color: #929292;
}

.notifications__item__option {
    width: 20px;
    height: 20px;
    margin: 8px 0;
  
    border-radius: 50%;
    color: white;
    opacity: 0;
  
    font-size: 10px;
    text-align: center;
    line-height: 20px;
  
    cursor: pointer;
    transition: all .2s;
}
  
.notifications__item:hover {
    background-color: #f7f7f7;
    transform: scale( 0.95 );
    box-shadow: 0px 5px 10px 0px rgb( 0, 0, 0, .2 );
}
