@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    background: #38F094;
    overflow-y: scroll; 
    overflow-x:hidden;
}

#form{
    width: 537px;
    height: 1080px;
    margin: auto;
    background:#86FFC2; 
    padding: 153px;
}


#submit{
    color:white;
    background: #007BFF;
    padding: 5px;
    margin-left: 45%;
}

.imgcontainter{
    margin: auto;
    width: 350px;
    height: 153px;
    margin-top: 176px;
}

#logo{
    margin: auto;
    width: 350px;
    height: 153px;
}

#username-lable{
    margin-left: 93px;

}
#username{
    margin-left: 93px;
    width: 350px;
    height: 29px;
}

#password-lable{
    margin-left: 93px;
}

#password{
    margin-left: 93px;
    width: 350px;
    height: 29px;
}

#checkbox{
    display: inline-block;
    white-space: nowrap;
    margin-left: 120px;
    padding-top: 11px;
}

#link{
    margin-left: 60%;
    display: inline-block;
    padding-right: 80px;
    white-space: nowrap;
}

#bottomText{
    width: 179px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
}
#or{
    color: grey;
}

/* Landing Page CSS */

.landing-page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nato Sans JP", sans-serif;
    background: white;

}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    /* background: url('../images/LandingPage.jpg'); */
    background: white;
    background-size: cover;
    background-position: top;
    /* background-position: center; */
}

.landing-navbar-header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.landing-logo{
    position: relative;
    color: green;
}

.landing-navbar a{
    color: green;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

.landing-navbar a:hover{
    background-color: orange;
    color: white;
    padding: 20px 15px;
    font-size: 20px;
}

.landing-buttons{
    color: green;
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

.landing-buttons:hover{
    background-color: rgb(128, 221, 128);
    padding: 18px 15px;
}

.landing-btn1{
    position: relative;
    background-color:lightgreen; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    transition: 0.3s;
}
.landing-btn2{
    background-color:orange;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}

.landing-btn1:hover{
    background-color:white; 
    border: none;
    color: lightgreen;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.3s;
}
.landing-btn2:hover{
    background-color:white;
    border: none;
    color: orange;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
}

.landing-content{
    max-width: 850px;
    margin: 60px 100px;
}

.landing-info{
    display: flex;
}

.landing-content .landing-info h2{
    color: green;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.landing-btn3{
    background-color:green; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 200px;
}

.landing-btn3:hover{
    background-color:orange; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 20px;
    transition: 0.3s;
}

.landing-image{
    position: relative;
    padding-left: 50%;
    padding-right: 0px;
    max-width: 600px;
    max-height: 400px;
    display: inline;
}

#landing-about{
    max-width: 1000px;
    margin: 60px 100px;
    color: green;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 40px;
    margin-bottom: 200px;

}

#landing-contact{
    display: flex;
    position: relative;
    max-width: 1000px;
    margin: 60px 100px;
    color: green;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 40px;
}

.landing-form-control{
    position: relative;
    color: black;
    opacity:  1;
    font-size: 20px;
    padding: 10px 50px;
    font-weight: normal;
    border-radius: 20px;
    transition: 0.4s;

}

.landing-form-control:hover{
    border-color: green;
    border-radius: 10px;
    border-width: 10px;
}

.landing-btn4{
    background-color:green; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 200px;
}

.landing-btn4:hover{
    background-color:orange; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 20px;
    transition: 0.3s;
}

.landing-image-mail{
    position: relative;
    max-width: 600px;
}

textarea {

    width: 600px;
    height: 300px;
}

.landing-logo{
    max-height: 30%;
    max-width: 60%;
}