/* Main Background colour */

html, body {
  height: 100%;
}

.main-background {
  background: #38F094;
  height: 100%;
}

.signup-container {
  background-color: #86FFC2;
  margin-left: 35%;
  margin-right: 35%;
  width: 35%;
  height: 100%;
}

.signup-container-content {
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
}

.signup-container-image {
  background-color: white;
  border: 0px solid white;
  min-height: 150px;
}

.signup-input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.signup-error-message {
  color: red;
}

.signup-info-text {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 12px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: grey;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid grey;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.signup-button {
  margin-left: 25%;
  margin-right: 25%;
  width: 75%;
  margin-bottom: 5%;
}

.signup-login-text {
  margin-left: 45%;
  margin-right: 25%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.signup-org-text {
  margin-right: 25%;
  margin-left: 45%;
  margin-top: 20%;
  margin-bottom: 20%;
}
